<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Liam's Blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/"><em>Django Girls Blog</em></a></h1>
    </header>

    <div class="">
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>No suas option aliquando est, ex vel pertinax torquatos honestatis.
        Sea legimus accumsan dignissim ad, aliquip nominavi te vim. Putant maiorum sed ea,
        inermis quaestio has ea. Sed in dicat saperet assueverit, nonumy volumus his ad. Duo cu regione postulant,
        an cum insolens referrentur.
        Volumus accusam imperdiet in has, ex pri nisl iisque, solet utroque qui ex.</p>
    </div>

    <div class="">
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>No mea possim omnium, vim at facete mediocritatem, no quo agam omnis.
        Laoreet voluptatibus cu sea, mediocrem cotidieque qui ad. Ad repudiandae comprehensam vix.
        Ea putent insolens per, veniam possit vis ne. Dolore graece per ne, his dico movet ignota no.</p>
    </div>

    <footer>
      <a href="#"><h2>Wrap Up</h2></a>
      <p>Quo wisi aliquam intellegam cu. Aperiam propriae comprehensam eum ex, veniam postulant at quo,
        ius ad agam oporteat accusamus. Ne fabulas delicatissimi nec, qui enim nullam moderatius ad.
        Eu illum ornatus quaestio sea, prodesset mnesarchum concludaturque eum in.
      </p>
    </footer>
  </body>
</html>
